.hero {
    &__image {
        clip-path: polygon(11.159% 0%, 0% 100%, 100% 100%, 100% 0%, 11.159% 0%);
    }

    &__overlay {
        background: transparent linear-gradient(0deg, #000000 0%, #46464667 40%, #76767600 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: multiply;
        opacity: 0.82;
    }
}